.classpath
.eclipse
.DS_Store
.idea
.settings
.project
bin
target
*.iml
**/.settings
**/.classpath
**/.eclipse
**/.project
**/.idea
**/.DS_Store
**/bin
**/target
MANIFEST.MF
\.DS_Store
*/.DS_Store
.DS_Store?
.Trashes